/*** 4.1 - Variables Font Family ***/
$thin: 100;
$light: 300;
$regular: 400;
$semi-bold: 500;
$bold: 700;
$extara-bold: 900;

$primary: #074089;
$secondery: #de6a54;
$font-color: #1e2227;
$font-color2: #3d444e;

$form-bg: #f3f7f9;
$stepper: #f26f21;
$pale-grey: #f3f7f9;

// Other Variables
$transition: all ease-in-out 0.2s;

// Body color
$body-color: #f4f7fc;

// Btn Shadow color
$shadow-color: rgba(0, 0, 0, 0.6);

// Card Shadow
$card-bg: #f4f6f9;
$card-shadow: rgba(160, 160, 160, 0.16);

// Top bar
$top-shadow: rgba(0, 0, 0, 0.06);

//Footer Shadow
$footer-shadow: rgba(0, 0, 0, 0.09);

/*Theme Color */
$white: #fff;
$black: #000;
$dark: #343a40;
$muted: #6c757d;
$click-active: #60b0ea;

$success: #59b46e;
$danger: #e82424;
$warning: #ffc107;
$muted: #d8d8d8;

$loyalty-bg: #014181;
$cashback-bg: #f26221;
$points-bg: #ee1d23;
$points-eligible: #00aeef;

// Border Color
$border-color: #eaebf0;
$input-border: #a7a7a7;
$fot-bd: #dfe1e6;

// Status btn color
$approved: #1dcd39;
$pending: #ff991f;
$rejected: #e73638;

$card-border-color: #c2c2c2;
$card-font-color: #333333;

$tab-bg: #f4f5f7;

$gray-light: #cccccc;
$gray-dark: #585858;
$time: #134084;

$gray-bg: #f4f5f7;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
